* {
  font-family: Helvetica, Arial, sans-serif;
}


.header {
	background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

a {
  text-decoration: none;
}

.center {
	text-align: center;
}

nav li {
	list-style: none;
}