* {
  font-family: Helvetica, Arial, sans-serif;
}


.header {
	background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
	background-position: center;
}

nav li, .contact li {
	list-style: none;
}

h1 {
	font-size: 70px;
	font-weight: bold;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

main p {
	font-size: 14px;
}

.footer  {
	background-color: dimgray;
	text-align: left;
}

a {
  text-decoration: underline;
  color: white;
  font-size: 18px;
}

.center {
	text-align: center;
}

.white {
	color: white;
}